html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.work-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(30em, 35%), auto, 8rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  place-items: center;
  place-content: center;
  width: 100%;
}
.header {
  grid-area: header;
  text-align: center;
  margin: 2em auto;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.title-1 {
  font-weight: 200;
  margin-block-end: 0;
}
.title-1,
.title-2 {
  font-size: clamp(2.2rem, 2vw + 1rem, 2.5rem);
}
.title-2 {
  font-weight: 600;
  margin-block-start: 0;
}
.title-p {
  width: clamp(36ch, 50vw, 60ch);
  font-weight: 400;
  font-size: 1.2em;
  margin-inline: auto;
}
.block {
  display: flex;
  max-width: 35ch;
  flex-direction: column;
  min-height: 14em;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 0.6em 1.5em 0 hsla(211, 36%, 59%, 0.304);
}
.block p {
  font-size: 1rem;
  flex: 1;
  color: hsl(212, 6%, 44%);
  font-weight: 400;
  margin: 0.5em 0;
}
.block h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: hsl(234, 12%, 34%);
}
.block img {
  align-self: flex-end;
  width: 4em;
}
.cyan {
  border-top: 0.5em solid hsl(180, 62%, 55%);
}
.red {
  border-top: 0.5em solid hsl(0, 78%, 62%);
}
.orange {
  border-top: 0.5em solid hsl(34, 97%, 64%);
}
.blue {
  border-top: 0.5em solid hsl(212, 86%, 64%);
}
.attribution {
  text-align: center;
  font-size: 1em;
  margin: 1em;
  color: hsl(228, 12%, 48%);
}
.attribution a:hover {
  transition: 150ms ease;
  color: lightslategrey;
}
@media (prefers-reduced-motion: reduce) {
  .attribution a:hover {
    transition: 0ms ease;
  }
}
@media screen and (min-width: 50rem) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, minmax(35ch, 1fr));
    grid-template-rows: repeat(4, minmax(19rem, auto));
    gap: 2rem;
    width: 90%;
    margin-inline: auto;
  }
  .cyan {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: flex-end;
  }
  .red {
    grid-column: 2;
    grid-row: 1;
  }
  .orange {
    grid-column: 2;
    grid-row: 2;
  }
  .blue {
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: flex-start;
  }
}
